<!DOCTYPE html>
<html ng-app="App">
  <head>
    <title>Simple Calc&trade;</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller='appCtrl'>
    <div class="container">
      <h2 class="text-center">Simple Calc&trade;</h2>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 my-calc">
          <div class="row">
            <input type="text" class="form-control display center-block text-right" readonly ng-model="currentNum">
          </div>
          <div class="row text-center">
            <button class="btn btn-default" ng-click="click(7)">7</button>
            <button class="btn btn-default" ng-click="click(8)">8</button>
            <button class="btn btn-default" ng-click="click(9)">9</button>
            <button class="btn btn-primary" ng-click="divide()">&divide;</button>
            <button class="btn btn-primary" ng-click="times()">&times;</button>
          </div>
          <div class="row text-center">
            <button class="btn btn-default" ng-click="click(4)">4</button>
            <button class="btn btn-default" ng-click="click(5)">5</button>
            <button class="btn btn-default" ng-click="click(6)">6</button>
            <button class="btn btn-primary" ng-click="plus()">&plus;</button>
            <button class="btn btn-primary" ng-click="minus()">&minus;</button>
          </div>
          <div class="row text-center">
            <button class="btn btn-default" ng-click="click(1)">1</button>
            <button class="btn btn-default" ng-click="click(2)">2</button>
            <button class="btn btn-default" ng-click="click(3)">3</button>
            <button class="btn btn-success" ng-click="equals()">&equals;</button>
            <button class="btn btn-danger" ng-click="clear()">c</button>
          </div>
          <div class="row text-center">
            <button class="btn btn-default"></button>
            <button class="btn btn-default" ng-click="click(0)">0</button>
            <button class="btn btn-default"></button>
            <button class="btn btn-default"></button>
            <button class="btn btn-default"></button>
          </div>
        </div>
      </div>
  </body>
</html>
